* {
    font-family: "Arial Rounded MT Bold";
}
#etusivubody {
    margin: 0;
    margin-top: 50px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url('https://images.pexels.com/photos/7991370/pexels-photo-7991370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); 
    background-size: cover;
    background-color: black;
}
#greenbookbody {
    background-color: white;
}
.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgba(9, 8, 8, 1);
    color: white;
}
.menu *{
    display: inline;
    height: 50px;
    margin: auto;
}
.menu ul {
    padding: 0;
}
.menu li {
    margin-left: 20px;
}
#etusivuotsikko {
    text-align: center;
    font-size: 45px;
    color: white;
}

.headerlinkki {
    color: white;
    text-align: center;
}
#oscarpatsas1 {
    float: left;
    margin-left: 160px;
    
}
#etusivuteksti {
    padding-left: 130px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 15px;
    background: rgba(255,255,255,0.9);
}
#lopputeksti {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 15px;
    background: rgba(255,255,255,0.9);
}
#leffat-img {
     display: block;
  margin-left: auto;
  margin-right: auto;
}

#NomadlandBody {
	background-color: #b4b8c4;	
}

#taulukkoNomadland {
    padding-top: 40px;
    padding-right: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
	border: 3px solid #ad8a4a;
	background-color: #d9a975;
}

#summaryNomadland {
	border: 3px solid #ad8a4a;
	background-color: #d9a975;
}

#ParasiteBody {
	background-color: #b4b8c4;	
}

#taulukkoParasite {
    padding-top: 40px;
    padding-right: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
	border: 3px solid #c5bb66;
	background-color: #cbcb8b;
}

#summaryParasite {
	border: 3px solid #c5bb66;
	background-color: #cbcb8b;
}
div.sivutop {
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

div.sivubottom {
    clear: left;
    margin-top: 50px;
}

div.summary {
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.linkki {
    display: block;
    margin-top: 20px;
    margin-left: 80px;
}

.otsikko {
    padding-left: 80px;
    margin-top: 60px;
}

#taulukko {
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
}

.kuva {
    margin-right: 50px;
}

#greenbookbody {
    background-color: #FFEAAD;
}

#taulukkogb {
    padding-top: 40px;
    padding-right: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
	border: 3px solid #7AD5DF;
	background-color: #ACEDF4;
}

#summarygreenbook {
    border: 3px solid #7AD5DF;
	background-color: #ACEDF4;
}

#codabody {
    background-color:#B3E4F1 ;
}

#taulukkocoda {
    padding-top: 40px;
    padding-right: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
	border: 3px solid #A99D58;
	background-color:#F1E8B3;
}

#summarycoda {
    border: 3px solid #A99D58;
	background-color: #F1E8B3;
}

#eeaotbody {
    background-color: #F3C9D3;
}

#taulukkoeeaot {
    padding-top: 40px;
    padding-right: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
	border: 3px solid #1C704F;
	background-color: #C9F3E2;
}

#summaryeeaot {
    border: 3px solid #1C704F;
	background-color: #C9F3E2;
}
